*{
    margin: 0px;
}

.box1{

    min-height:700px;
    width: 100%;
    background-color: aqua;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;

}

.box2{
    height: 470px;
    width: 300px;
    background-color: lightcoral;
    padding: 40px;
    box-sizing: border-box;

}


h1{
    margin-bottom: 10px;
}



img{
    height: 200px;
    width: 200px;
    border-radius: 50%;   
    margin-bottom: 10px;
}

.box2 div{
    height: 40px;
    width: 100%;
    background-color: none;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 20px;
}




@media only screen and (min-width:320px) and (max-width:500px){

    .box1{
        height: 2000px;
    width: 100%;
     flex-direction: column;
     
    
    }


    .box2{

        width:100%;
        

    }

    img{
        height: 170px;
        width: 170px;
    }

}

@media only screen and (min-width:500px) and (max-width:1200px){

    .box1{
        height: 2000px;
    width: 100%;
     flex-direction: column;
     /* justify-content: center; */
     /* align-items: center; */
     background-color: lightslategray;
     
    
    } 


    .box2{

        width:100%;

    }

    




    img{
        height: 200px;
        width: 200px;
    }
}


